body {
    height: 100%;
    width: 100%;
    background-image: url("./what-is-420-friendly-landscape.webp");
    margin: 0;
    padding: 0;
}  

html {
    height: 100%;
    width: 100%;
    background-image: url("./what-is-420-friendly-landscape.webp");
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 15%;
    width: 100%;
    display: flex;
    background-color: rgb(6, 145, 40);
    align-items: center;
    z-index: 10;
    border-radius: 7px;
    box-shadow: 
        0 2px 4px -1px rgba(0, 0, 0, .2),
        0 4px 4px 0px rgba(0, 0, 0, .14),
        0 1px 10px 0px rgba(0, 0, 0, .12);    
}

.logo {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLogo420 {
    height: 100%;
    width: 60%;
}

.imgLogo {
    height: 80%;
    width: 80%;
}

.texto {
    color: #fff;
    font-size: 1.7rem;
}

.right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cima-meio {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.cima-meio label {
    color: #fff;
    font-size: 1.8rem;
}

.cima-meio i {
    color: #fff;
    font-size: 1.8rem;
}

.meio-meio {
    height: 60%;
    width: 100%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputIDsala {
    height: 50%;
    width: 80%;
    border-radius: 7px;
    border: solid  1px #fff;
}

.btnConfirmar {
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 5px;
    border-radius: 7px;
    background-color: rgb(6, 145, 40);
    border: solid 1px #fff;
    color: #fff;
}

.contentChat {
    height: 70%;
    width: 85%;
    border-radius: 0px 7px 7px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(6, 145, 40);
    border: solid 3px  rgb(6, 145, 40);
}

.voltaChat {
    height: 80%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divChatMensagens {
    height: 85%;
    width: 95%;
    overflow-x: auto;
    padding: 7px; 
    background-color: #fff;
    border-radius: 7px;
}

.footerChat {
    height: 20%;
    width: 100%;
    background-color: rgb(6, 145, 40);
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputEscreverMensagem {
    height: 40%;
    width: 60%;
    border-radius: 7px;
    border: solid 1px #fff
}

p {
    margin: 5px;
}

.tamanhoI {
    font-size: 30px;
}